# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
frontend/.next/
frontend/out/

# Production
frontend/build/

# Misc
.DS_Store
*.pem

# Debug / Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Local env files
.env
.env.*
.env.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
.eggs/
backend/poetry.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
